@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: asap, sans-serif;
}

body {
    background-color: rgb(24, 59, 80);
}

header {
    background: wheat;
    text-align: center;
    padding: 30px 30px;
}

header>h1 {
    color: rgb(24, 59, 80);
}

#instructions {
    text-align: center;
    color: wheat;
    font-size: 2 0px;
    margin-top: 30px;
}

#container {
    display: flex;
    justify-content: center;
}

#ball {
    text-align: center;
    margin: 20px auto;
   
}

#ball:hover {
    cursor: pointer;
    animation: shake 0.9s;
    animation-iteration-count: .8;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

#answer {
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 20px 10px;
}

#retry>p {
    text-align: center;
    color: wheat;
    font-size: 20px;
    padding: 20px 10px;
}